@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Rammetto+One");
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  line-height: 1.6;
  font-weight: 300;
  color: #ffffff;
  background-color: rgb(21, 25, 36);
}

.container {
  width: 100%;
  max-width: 992px;
  padding: 0 1em;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0 1em;
  margin-left: 0;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

button {
  transition: all 0.3s;
}

.card img {
  display: block;
  width: 200px;
  height: 200px;
}
.page-title {
  text-align: center;
  font-size: 100px;
  margin-bottom: 70px;
  margin-top: -100px;
  letter-spacing: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}
.page-content {
  margin-top: 150px;
}
.card {
  line-height: 1;
  transition: all 0.3s;
}
.card:hover,
.card:active {
  transform: scale(1.1);
  border: 1px solid rgb(145, 140, 172);
}
.card__price {
  font-weight: bold;
  padding-bottom: 10px;
}
.card__title {
  font-size: 1.1rem;
  padding-bottom: 20px;
}
.card__btn {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(119, 127, 148);
  border: none;
  color: #fff;
  font-size: 15px;
}
.card__btn:hover,
.card__btn:focus,
.card__btn:active {
  transform: translatey(2px);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
  background-color: rgb(83, 89, 104);
}
div .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.5px rgb(119, 127, 148);
  padding-bottom: 10px;
}

/* responsive designe */
@media only screen and (max-width: 400px) {
  .side-bar {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .nav {
    display: none;
  }
}
