* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  background-color: rgb(21, 25, 36);
  color: white;
}
/* main bar */ /* main bar */ /* main bar */ /* main bar */ /* main bar */ /* main bar */
.main-bar {
  display: flex;
  background-color: rgb(6, 14, 26);
  padding: 0.2rem;
}
.logo {
  width: 5rem;
  margin-left: 1rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 5rem;
}
ul,
a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
}
.main-bar :hover {
  color: rgb(175, 171, 171);
  transition: 0.15s;
}
/* side bar */ /* side bar */ /* side bar */ /* side bar */ /* side bar */ /* side bar */
.menuSideBar {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 1.8rem;
  right: 1rem;
}
.menuSideBar img {
  width: 2rem;
}
.side-bar {
  background-color: rgba(43, 55, 71, 0.579);
  z-index: 999;
  backdrop-filter: blur(10px);
  gap: 2rem;
  width: 11rem;
  box-shadow: 0px 9px 10px 2px rgb(63, 62, 62);
  display: none;
  padding-top: 1rem;

  margin-top: 1.3rem;
}
.side-bar ul {
  display: flex;
  flex-direction: column;
}
.side-bar :hover {
  color: rgb(175, 171, 171);
  transition: 0.15s;
}
/* slides */ /* slides */ /* slides */ /* slides */ /* slides */ /* slides */
.swiper {
  width: 100%;
  height: 33rem;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide h1 {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  text-shadow: 2px 3px 3px rgb(17, 37, 53);
  font-family: "Dancing Script", cursive;
}
/* about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us */
.about-us {
  margin: 2rem 3rem;
  padding-right: 3rem;
}
#who-are-we,
#history,
#employee {
  border: double rgb(255, 255, 255);
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 1.2rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}
.about-us h1 {
  font-size: 1.05rem;

  text-decoration: underline;
  text-underline-offset: 0.3rem;
  margin-bottom: 0.5rem;
}
#who-are-we {
  max-width: 58rem;
}
#history {
  max-width: 65rem;
}
/* reservation form /reservation form /reservation form  /reservation form  */
.reservation-contact {
  display: flex;
  justify-content: space-between;
}
/* .reservation-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */
#reservation {
  display: flex;
  flex-direction: column;
  margin: 2rem 3.1rem;
  font-size: 1rem;
  width: 100%;
}
input {
  color: black;
  font-size: 1rem;
  background-color: rgb(119, 127, 148);
  padding: 0.4rem 0.8rem;
  width: 100%;
  max-width: 17.5rem;
}
input:focus {
  outline: solid rgb(145, 140, 172);
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: white;
}
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus,
input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-ampm-field:focus {
  background-color: rgb(99, 114, 193);
}
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-year-field,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-ampm-field {
  color: white;
}
#reservation div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
#reservation label {
  width: 4.5rem;
}
form h1 {
  margin-bottom: 1.1rem;
  font-size: 1.3rem;
  text-decoration: 1px underline double;
  text-underline-offset: 0.3rem;
}
#submit {
  margin-left: 4.5rem;
}
/* light/dark mode /light/dark mode /light/dark mode /light/dark mode /light/dark mode /light/dark mode /light/dark mode */
.dark-mode {
  color: white;
  background-color: rgb(21, 25, 36);
  transition: 0.5s;
}
.light-mode {
  color: black;
  background-color: rgb(193, 204, 236);
  transition: 0.5s;
}

/* Button */
#btn-dark-light {
  position: absolute;
  top: 1.3rem;
  left: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(119, 127, 148);
  color: white;
  width: 4.5rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}
#btn-dark-light img {
  width: 2rem;
}
#btn-dark-light .moon {
  width: 1.5rem;
}

/* top button /top button /top button /top button /top button /top button /top button /top button /top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
#myBtn:hover {
  background-color: white;
  color: black;
}
/* contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us */
#contact {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  width: 100%;
  max-width: 30rem;
  padding-top: 1rem;
}
#contact h1 {
  font-size: 1.3rem;
}
.ContactUs-lab-inp {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1.1rem;
}
#contact label {
  width: 4.5rem;
}
.message {
  max-width: 20rem;
  min-height: 10rem;
  margin-left: 4.5rem;
}
.btn-send-message {
  margin-left: 4.5rem;
}
/* menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu */
#menu img {
  display: block;
  width: 11rem;
  height: 11rem;
}
#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  width: 100%;
  max-width: 66rem;
  margin-left: 3rem;
}
.plat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: solid 0.5px rgb(119, 127, 148);
  width: 100%;
  max-width: 15.5rem;
}
#h1-m {
  margin-bottom: 1.8rem;
  margin-left: 3.1rem;
  text-decoration: 1px underline double;
  text-underline-offset: 0.3rem;
  font-size: 1.5rem;
}
.card-info {
  display: flex;
  gap: 1.1rem;
  margin: 0.5rem 0rem;
  font-size: 1.1rem;
}
footer {
  background-color: rgb(11, 28, 50);
  padding: 1.1rem;
  padding-left: 2rem;
  margin-top: 1.5rem;
  width: 100%;
}
/* responsive designe */

/* @media only screen and (max-width: 840px) {
  .nav {
    display: none;
  }
  .main-bar {
    display: flex;
    background-color: rgb(6, 14, 26);
    padding: 0.2rem;
  }
  .logo {
    width: 5rem;
    margin-left: 1rem;
  }
  } */
@media screen and (min-width: 768px) {
  .nav {
    margin-right: 0rem;
  }
  .menuSideBar {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .logo {
    width: 4rem;
  }
  .side-bar {
    display: flex;
    margin-top: 0.4rem;
    gap: 1rem;
    width: auto;
  }
  .side-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -0.5rem;
    margin-left: 0.5rem;
  }

  /* slider / slider / slider*/
  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-slide img {
    max-height: 30rem;
  }
  .swiper-slide h1 {
    top: 50%;
    font-size: 4rem;
  }
  /* about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us */
  .about-us {
    margin: 2rem 2rem;
    padding-right: 1rem;
  }
  #who-are-we,
  #history,
  #employee {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  .about-us h1 {
    font-size: 0.9rem;
  }
  /* menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu */
  #menu img {
    display: block;
    width: 7rem;
    height: 7rem;
  }
  #menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    width: auto;
    max-width: 44rem;
    margin-left: 2rem;
    place-items: center;
  }
  .plat {
    max-width: 9rem;
  }
  #h1-m {
    margin-bottom: 1.8rem;
    margin-left: 3.1rem;
    text-decoration: 1px underline double;
    text-underline-offset: 0.3rem;
    font-size: 1.1rem;
  }
  .card-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
    font-size: 0.8rem;
    font-weight: lighter;
  }
  /* reservation form /reservation form /reservation form  /reservation form  */
  .reservation-contact {
    display: flex;
    flex-direction: column;
  }
  #reservation {
    margin: 2rem;
    width: auto;
  }
  input {
    font-size: 1rem;
    width: 100%;
  }
  #reservation label {
    width: 3.5rem;
  }
  form h1 {
    font-size: 1rem;
  }
  #submit {
    margin-left: 3.5rem;
  }
  /* contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us */
  #contact {
    padding-top: 0rem;
    margin-left: 1.8rem;
    width: auto;
  }
  #contact h1 {
    font-size: 1rem;
  }
  .ContactUs-lab-inp {
    width: auto;
  }
  #contact label {
    width: 3.5rem;
  }
  .message {
    margin-left: 3.5rem;
  }
  .btn-send-message {
    margin-left: 3.5rem;
  }
}
/* 400px / 400px/ 400px/ 400px/ 400px/ 400px/ 400px/ 400px/ 400px/ 400px/ 400px */
@media only screen and (max-width: 400px) {
  .logo {
    width: 2rem;
    margin-left: 1rem;
  }
  .menuSideBar {
    top: 0.4rem;
    right: 1rem;
  }
  .side-bar {
    margin-top: 0rem;
  }
  /* slider / slider / slider*/
  .swiper {
    width: auto;
    height: auto;
  }
  .swiper-slide img {
    max-height: 15rem;
  }
  .swiper-slide h1 {
    top: 50%;
    font-size: 2.2rem;
  }
  /* about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us /about-us */
  .about-us {
    margin: 1rem 2rem;
    padding-right: 1rem;
  }
  #who-are-we,
  #history,
  #employee {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }
  .about-us h1 {
    font-size: 0.8rem;
  }
  /* menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu */
  #h1-m {
    margin-left: 1.2rem;
    font-size: 1rem;
  }
  #menu {
    max-width: 40rem;
    margin-left: 1rem;
  }
  .reservation-contact {
    display: flex;
    flex-direction: column;
  }
  /* reservation form /reservation form /reservation form  /reservation form  */
  .reservation-contact {
    display: flex;
    justify-content: space-around;
  }
  #reservation {
    margin: 2rem;
    width: auto;
  }
  input {
    font-size: 1rem;
    width: auto;
    /* max-width: 17.5rem; */
  }
  #reservation label {
    width: 3.5rem;
  }
  #submit {
    margin-left: 1rem;
  }
  /* contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us /contact us */
  #contact {
    padding-top: 0rem;
    margin-left: 1.8rem;
    width: auto;
  }
  #contact h1 {
    font-size: 1rem;
  }
  .ContactUs-lab-inp {
    width: 100%;
  }
  #contact label {
    width: 3.5rem;
  }
  .message {
    margin-left: 3.5rem;
  }
  .btn-send-message {
    margin-left: 3.5rem;
    padding-inline: 4rem;
  }
}
@media only screen and (max-width: 335px) {
  /* menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu /menu */
  #menu img {
    display: block;
    width: 7rem;
    height: 7rem;
  }
  #menu {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin-left: 1rem;
  }
  .plat {
    max-width: 8rem;
  }
  #h1-m {
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1rem;
  }
}
